.deps
.dirstamp
.libs
.*.swp
*.o
*.lo
*.la
*.a
*.so
*.pdf
*.html
*~

/autom4te.cache
/m4/libtool.m4
/m4/lt*
/aux_scripts
/config.log
/config.status
/stamp-h1
/Makefile
/config.h
/libtool

/birq

/*.tar*

/test/
